<h1 align="center">Listing all Students</h1>

<% @students.each do |student| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="student-title">
                    <%= link_to student[3], student_path(student)%>
                </div>

                <%= truncate(student[4],length:100) %>
            </div>
            <div class="article-actions">
                <%= link_to 'Edit this student', edit_student_path(student) ,class:"btn btn-xs btn-primary" %> |
                    <%= link_to 'Delete this student',student_path(student),method: :delete,
                           data: { confirm: "Are you sure ?"},class:"btn btn-xs btn-danger"  %>
            </div>
        </div>
    </div>
    <br> 

    <% end %>


        <%= link_to 'Create student', new_student_path %>