<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            <%=@student.USERNAME%>
                        </h4>
                        <small>
                            <cite title="San Francisco, USA">San Francisco, USA
                                <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>
                            <%=@student.EMAIL%>
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>
                                <%=@student.REGDATE%>
                        </p>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Department
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <% @departments.each do |s| %>
                                    <li>
                                        <%=link_to "#{s[1]}", change_dep_id_path(foo_param: s[0],stud_param: @student.STUDENT_ID) %>
                                    </li>
                                    <% end %>
                            </ul>
                        </div>
                        <br>

                        <% if @student.Department_ID%>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Courses
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <% @courses.each do |s| %>
                                        <li>
                                            <% if s[5] == @student.Department_ID%>
                                                <%=s[1]%>
                                                    <%end%>
                                        </li>
                                        <% end %>
                                </ul>
                            </div>
                            <%end%>
                                <div class="btn-group">

                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>