<h1 align="center">Listing all Departments</h1>
<% if logged_in?%>
    <h4 align="center">
        <%=@student.USERNAME%>
    </h4>
    <%end%>


        <% @departments.each do |department| %>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="well well-lg">
                        <div class="department-title">
                            <%= link_to department[1], department_path(department)%>
                        </div>

                        <%= truncate(department[2],length:100) %>
                    </div>
                    <div class="article-actions">

                        <%= link_to 'Delete this department',department_path(department),method: :delete,
                           data: { confirm: "Are you sure ?"},class:"btn btn-xs btn-danger"  %>
                    </div>
                </div>
            </div>
            <br>

            <% end %>


                <%= link_to 'Create Department', new_department_path %>